* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


nav .logo {

    font-size: 30px;
    color: #37373f;
    position: relative;

}

.logo h2::after {
    content: ".";
    color: red;
    position: absolute;

}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    max-width: 960px;
}


nav {
    font-family: "open sans";
    background-color: white;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    box-shadow: 0px 0px 14px 0px #0000001b;
}


nav .container {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




nav ul li {
    position: relative;
    overflow: hidden;
    padding: 10px;
}


li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}



nav ul li::after {
    content: "";
    position: absolute;
    left: -100%;
    background-color: red;
    width: 100%;
    height: 3px;
    bottom: 0;
    transition: all 0.5s;
}

nav ul li:hover::after {
    left: 0;
}

nav ul a {
    color: #7f7f90;
    text-decoration: none;
}


/* chefs */



.chefs {
    padding: 5px;
    display: flow-root;
}


.container {
    max-width: 960px;
    margin-top: 130px;
}


.sections-header {
    color: #37373f;
    text-align: center;
    padding: 20px;
    font-family: "open sans";
}


.sections-header h3 {
    font-size: 20px;
    color: #7f7f90;
}




.sections-header h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 60px;
}


.sections-header h2 span {
    color: #e61414;
}


a,
span {
    display: inline-block;
}


.chefs .cards {
    justify-content: center;
    font-family: "open sans";
    display: flex;
    gap: 10px;
    min-width: 45%;
}



.chefs .cards .card {
    width: calc(100% / 3);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    width: 100%;
}


.chefs .cards .card .brands {
    color: #212529;
    background-color: #ffffff4d;
    position: absolute;
    top: 10px;
    right: -70px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.8s;
    border-radius: 10px;
}


.chefs .cards .card .brands i {
    margin: 10px 0;
}



.fa-brands,
.fab {
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
}



.fa-brands,
.fab {
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
}

.fa-twitter:before {
    content: "\f099";
}


.fa,
.fa-brands,
.fa-solid {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}


.chefs .cards .card:hover .brands {
    right: 10px;
}


.chefs .cards .card:hover {
    transform: scale(1.1, 1.1);
}


/* contact */

.contact {
    padding: 40px;
}


.sections-header h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
}


.contact iframe {
    width: 100%;
}


.contact .contact-info {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}


.contact .contact-info .contact-record {
    width: 49%;
    padding: 15px;
    background-color: #eee;
    display: flex;
    align-items: center;
}


.fa-solid,
.fas {
    font-weight: 900;
}


.fa-map:before {
    content: "\f279";
}


.contact .contact-info .contact-record .icon {
    background-color: #e61414;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


.contact .contact-info .contact-record p {
    color: #212529;
}


.fa-envelope:before {
    content: "\f0e0";
}


.fa-regular,
.far {
    font-weight: 400;
}


.contact .contact-inputs {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}


.contact .contact-inputs input {
    padding: 20px;
    border: 1px solid #eee;
    width: 45%;
}

.contact .name .email {
    width: 49%;
}


.contact .contact-inputs .subject {
    margin: 20px 0;
    width: 100%;
}


.contact .contact-inputs textarea {
    border: 1px solid #eee;
    resize: none;
    width: 100%;
}


.contact .contact-inputs button {
    margin: 20px auto;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    background-color: #e61414;
    border: 1px solid #e61414;
    border-radius: 25px;
}